@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  margin: -1px;
  padding: 0;

  width: 1px;
  height: 1px;
  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.container {
  padding: 0px 10px;
  width: 960px;
  margin: 0 auto;
}

.main-header {
  min-height: 320px;
}

.top-header {
  display: flex;
  flex-wrap: wrap;

  min-height: 42px;
}

.top-header-wrapper {
  background-color: #293449;
}

.top-header h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;

  width: 220px;
  min-height: 42px;

  margin: 0;
  padding: 0;
  padding-top: 10px;

  box-shadow: 0 5px 0 0px #b52933;
  background-color: #ee3643;
}

.main-search input {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  width: 270px;
  min-height: 42px;
  border: none;

  padding-left: 48px;
  padding-right: 2px;

  background-color: inherit;
}

.main-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.top-header .shopping {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.top-header .bookmarks,
.top-header .cart {
  font-size: 17px;
  line-height: 18px;
  color: inherit;

  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-left: 18px;
  text-align: center;

  width: 150px;
}

.top-header .order {
  font-size: 17px;
  line-height: 18px;
  color: inherit;
  text-align: center;

  margin: 0;
  padding: 0;
  padding-top: 12px;
  text-align: center;

  width: 150px;
  background-color: #63a63e;
}

.middle-header-wrapper {
  background-color: #f3f7f8;

  min-height: 278px;
}

.middle-header {
  display: flex;
  justify-content: space-between;
}

.middle-header .description-shop {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;

  width: 203px;

  margin: 0;
  margin-top: 49px;
  margin-left: 52px;
  padding: 0;
}

.middle-header .contact {
  width: 270px;

  margin-top: 46px;
}

.contact .phone {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  font-weight: normal;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 70px;

  border: 3px solid #ffffff;
}

.contact p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;

  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.middle-header .authorization {
  width: 285px;

  margin-top: 46px;
  margin-bottom: 28px;
  padding-left: 2px;
}

.authorization .sing-in {
  padding-left: 21px;
}

.authorization .sing-in,
.authorization .sing-up {
  display: inline-block;
  vertical-align: top;

  font-size: 21px;
  line-height: 21px;
  color: #000;

  width: 121px;

  text-align: center;
  margin-left: 2px;

  background-color: #ffffff;
}

.authorization .sing-in {
  padding-top: 12px;
  padding-bottom: 12px;
}

.authorization .sing-up {
  width: 150px;

  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 6px;
}

.main-navigation {
  margin-top: 39px;
}

.site-navigation {
  display: flex;

  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;

  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.site-navigation li {
  text-align: center;

  min-height: 55px;

  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation li:nth-child(1) {
  width: 125px;
}

.site-navigation li:nth-child(2) {
  width: 123px;
}

.site-navigation li:nth-child(3) {
  width: 112px;
}

.site-navigation li:nth-child(4) {
  width: 113px;
}

.site-navigation li:nth-child(5) {
  width: 179px;
}

.site-navigation li:nth-child(6) {
  width: 127px;
}

.site-navigation li:nth-child(7) {
  width: 121px;
}
